{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bad Request</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.7.2/css/all.css"
    />
  </head>
  <body
    class="font-sans min-h-screen flex flex-col bg-center bg-repeat bg-contain overflow-x-hidden overflow-y-scroll"
    style="
      background-image: url('{% static 'core_app/images/background_auth.png' %}');
      background-size: 300px 300px;
    "
  >
    <main class="flex-grow flex items-center justify-center p-4 sm:p-6 fade-in">
      <div
        class="flex flex-col items-center justify-center gap-4 sm:gap-6 w-full max-w-sm sm:max-w-lg px-4 sm:px-0 relative"
      >
        <div
          class="absolute top-0 left-0 right-0 h-2 rounded-t-lg shadow-[0px_-8px_0px_0px_#a2314b] pointer-events-none"
        ></div>
        <div
          class="w-full border border-gray-300 rounded-b-[18px] bg-white relative shadow-md"
        >
          <div class="p-6 text-center">
            <h1 class="text-4xl font-bold text-[#6a1e1e] mb-4">400</h1>
            <p class="text-lg text-gray-700 mb-6">
              Bad request — the server could not understand your request.
            </p>

            <div class="grid grid-cols-2 gap-4 justify-center">
              <a
                href="{% url 'homepage' %}"
                class="bg-[#a2314b] text-white px-4 py-2 rounded-lg hover:bg-[#892728] transition text-lg font-semibold text-center"
              >
                <i class="fa-solid fa-house mr-2"></i>Go to Homepage
              </a>

              <a
                href="javascript:history.back()"
                class="border text-gray-700 px-4 py-2 rounded-lg hover:bg-gray-100 transition text-lg font-semibold text-center"
              >
                <i class="fa-solid fa-arrow-left mr-2"></i>Go Back
              </a>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
